
<div class="pg-index">
  <div class="background"></div>

  <div class="container">
    <section>
      <form action="" id="secret" class="form" data-next="yyy">
        <label for="secret" class="form-label">Tell me your secret ...</label>
        <div class="form-input-group">
          <input type="password" class="form-input" placeholder="Enter your secret here"/>
          <a href type="submit" class="async-submit async-submit-inside-form"
            data-target="secret">
            <span class="iconfont">&#xe601;</span>
          </a>
        </div>
      </form>
    </section>
  </div>
</div>
