
<div class="pg-index">
  <div class="background"></div>

  <div class="container">
    <section class="step step-visible" id="secret-prompt">
      <form action="" data-prompt="secret" class="form">
        <label for="secret" class="form-label">Tell me your secret</label>
        <div class="form-input-group">
          <input type="password" name="secret" class="form-input" placeholder="Enter your secret here" autocomplete="off"/>
          <a href type="submit" class="async-submit async-submit-inside-form" data-submit="secret">
            <span class="iconfont">&#xe601;</span>
          </a>
        </div>
      </form>
    </section>

    <section class="step" id="url-prompt">
      <form action="" data-prompt="url" class="form">
        <label for="url" class="form-label">Enter the URL you want to shorten</label>
        <div class="form-input-group">
          <input type="text" name="url" class="form-input" placeholder="Enter original URL here" autocomplete="off"/>
          <a href type="submit" class="async-submit async-submit-inside-form" data-submit="url">
            <span class="iconfont">&#xe601;</span>
          </a>
        </div>
      </form>
    </section>
  </div>
</div>