<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    window.vals = {
      csrfToken: "{{csrfToken}}"
    };
    </script>
  </head>
  <body>
    {{{body}}}

    <script src="/javascripts/base.js"></script>
    {{#each scripts}}
    <script src="/javascripts/{{this}}.js"></script>
    {{/each}}
  </body>
</html>
